<header id="header">
  <div class="outer header-bar">
    <div id="header-title">
      <h1 id="logo-wrap">
        <a href="<%- url_for() %>" id="logo"><%= config.title %></a>
      </h1>
      <% if (theme.subtitle || config.subtitle){ %>
        <p id="subtitle-wrap">
          <a href="<%- url_for() %>" id="subtitle"><%= theme.subtitle || config.subtitle %></a>
        </p>
      <% } %>
    </div>
    <div id="header-inner">
      <nav id="main-nav">
        <a id="main-nav-toggle" class="nav-icon"><span class="fa fa-bars"></span></a>
        <% for (var i in theme.menu){ %>
          <a class="main-nav-link" href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
        <% } %>
      </nav>
      <nav id="sub-nav">
        <% if (theme.links) { %>
          <% for (const i in theme.links) {%>
            <a class="nav-icon" href="<%- url_for(theme.links[i]) %>"><span class="fa fa-<%= i %>"></span></a>
          <% } %>
        <% } %>
        <a class="nav-icon nav-search-btn" title="<%= __('search') %>"><span class="fa fa-search"></span></a>
      </nav>
    </div>
    <div id="search-form-wrap">
      <%- search_form({button: '&#xF002;', text: __('search')}) %>
    </div>
  </div>
</header>
